{block content}
<h1 n:block=title>Správa účtu</h1>

{control changePasswordForm}
<a n:href="Manage:removeMe" class="btn btn-danger">Smazat účet</a>
<table class="table table-bordered table-hover" id='event'>
    <tr>
    {if $user->identity->roles[0] == 'admin'}
        <th onclick="sortTable('event', 0)">Uživatel</th>
		<th>Možnosti</th>
	{/if}
    </tr>
 {if $user->identity->roles[0] == 'admin'}
{foreach $users as $key => $usr}
    <tr>
        <td>{$usr->meno}</td>
		<td><a n:href="Manage:removeUser $usr->meno" class="btn btn-danger"> Smazat </a>
       	</td>
    </tr>
{/foreach}
{/if}
</table>