
{block content}
<h1> Detail zápasu </h1>
<a n:href="Match:Show" class="btn btn-primary"> Zpět </a>
{if $user->identity->roles[0] == 'admin'}
	<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#editMatch">Upravit zápas</button>
	<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#addEvent">Přidat událost</button>
	<a n:href="Match:DeleteMatch $zapas->ID_zapasu" class="btn btn-danger"> Smazat zápas </a>
	<div id="editMatch" class="collapse">
		<h2> Upravit zápas </h2>
		{control editForm}
	</div>
	
	<div id="addEvent" class="collapse">
		<h2> Přidat událost </h2>
		{control addEvent}
	</div>
{/if}

<table class="table table-bordered table-hover">
    <tr>
        <th>Domácí</th>
        <th>Hosté</th>
        <th>Výsledek</th>
        <th>Místo konání</th>
        <th>Označení</th>
    </tr>
    <tr>
	<td>{$zapas->domaci}</td>
        <td>{$zapas->hostia}</td>
        <td>{$zapas->vysledok}</td>
        <td>{$zapas->misto_konani}</td>
        <td>{$zapas->oznacenie}</td>
    </tr>
</table>

<table class="table table-bordered table-hover" id='event'>
    <tr>
        <th onclick="sortTable('event', 0)">ID</th>
        <th onclick="sortTable('event', 1)">Čas</th>
        <th onclick="sortTable('event', 2)">Druh</th>
        <th onclick="sortTable('event', 3)">Jméno hráče</th>
        <th onclick="sortTable('event', 4)">Jméno rozhodčího</th>
	{if $user->identity->roles[0] == 'admin'}
		<th>Možnosti</th>
	{/if}
    </tr>
{foreach $udalosti as $key => $udalost}
    <tr>
        <td>{$udalost->ID_udalosti}</td>
        <td>{$udalost->cas}</td>
        <td>{$udalost->druh}</td>
        <td>{$udalost->jmeno_H}</td>
        <td>{$udalost->jmeno_R}</td>
	{if $user->identity->roles[0] == 'admin'}
		<td><a n:href="Match:DeleteEvent $zapas->ID_zapasu, $udalost->ID_udalosti" class="btn btn-danger"> Smazat </a></td>
	{/if}
    </tr>
{/foreach}
</table>

<script type="text/javascript">
$(function() {
    $('input[name="datum_konani"]').daterangepicker({
        singleDatePicker: true,
        	locale: {
            format: 'DD.MM.YYYY'
        }
    });
});
</script>

{/block}