{block content}
<h1> Detail týmu </h1>
<a n:href="Team:Show" class="btn btn-primary"> Zpět </a>
{if $user->identity->roles[0] == 'admin'}
	<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#editTeam">Upravit tým</button>
	<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#addPlayer">Přidat hráče</button>
	<a n:href="Team:DeleteTeam $tym->ID_tym" class="btn btn-danger"> Smazat tým </a>
	<div id="editTeam" class="collapse">
		<h2> Upravit tým </h2>
		{control editForm}
	</div>
	
	<div id="addPlayer" class="collapse">
		<h2> Přidat hráče </h2>
		{control addPlayer}
	</div>
{/if}

<table class="table table-bordered table-hover">
    <tr>
        <th>Tým</th>
        <th>Trenér</th>
        <th>Asistent</th>
        <th>Počet Bodú</th>
        <th>Skóre</th>
        <th>Pořadí</th>
        <th>Skupina</th>
    </tr>
    <tr>
	<td>{$tym->ID_tym}</td>
        <td>{$tym->trener}</td>
        <td>{$tym->asistenti}</td>
        <td>{$tym->pocet_bodu}</td>
        <td>{$tym->skore}</td>
        <td>{$tym->poradi}</td>
        <td>{$tym->skupina}</td>
    </tr>
</table>

<table class="table table-bordered table-hover" id='event'>
    <tr>
        <th onclick="sortTable('event', 0)">Rodné číslo</th>
        <th onclick="sortTable('event', 1)">Jméno</th>
        <th onclick="sortTable('event', 2)">Klub</th>
        <th onclick="sortTable('event', 3)">Pozice</th>
        <th onclick="sortTable('event', 4)">Číslo Dresu</th>
        <th onclick="sortTable('event', ť)">Věk</th>
	{if $user->identity->roles[0] == 'admin'}
		<th>Možnosti</th>
	{/if}
    </tr>
{foreach $hraci as $key => $hrac}
    <tr>
        <td>{$hrac->rodne_cislo}</td>
        <td>{$hrac->jmeno_H}</td>
        <td>{$hrac->klub}</td>
        <td>{$hrac->pozice}</td>
        <td>{$hrac->cislo_dresu}</td>
        <td>{$hrac->vek}</td>
	{if $user->identity->roles[0] == 'admin'}
		<td><a n:href="Team:DeletePlayer $tym->ID_tym, $hrac->rodne_cislo" class="btn btn-danger"> Smazat </a>
        <a n:href="Team:Edit $hrac->rodne_cislo, $tym->ID_tym" class="btn btn-primary">Editovat </a></td>
	{/if}
    </tr>
{/foreach}
</table>

<script type="text/javascript">
$(function() {
    $('input[name="datum_konani"]').daterangepicker({
        singleDatePicker: true,
        	locale: {
            format: 'DD.MM.YYYY'
        }
    });
});
</script>

{/block}