{block content}
{control createRefForm}
<table class="table table-bordered table-hover" id="rozhodci">
    <tr>
        <th onclick="sortTable('rozhodci', 0)">Jémno</th>
        <th onclick="sortTable('rozhodci', 1)">Národnost</th>
    </tr>
{foreach $rozhodci as $rozhodca}
    <tr>
        <td>{$rozhodca->jmeno}</td>
        <td>{$rozhodca->narodnost}</td>
    </tr>
{/foreach}
</table>

{/block}